
body {
	background: -moz-radial-gradient(center, ellipse cover, #959fdb 21%, #000305 99%); /* FF3.6-15 */									
	font-size: 88%;
	font-family: Arial;
	line-height:  1.5%;
	text-align: left;
}	


.body {
	margin: 0 auto;
	width: 80%;						 						
	clear: both;
	background-color: #D8D8D8;
}


a {
	text-decoration: none;

}

.Logo {
	width: 100px; 
	height: 100px;
}



a:hover, a:active {
 	background-color: #E3A2FF;	
	border-radius: 5px;
}

.mainContent a:hover, a:active {
	color: #FFF;
}

.mainheader img {
	width: 10%;
	height: auto;
	margin: 2% 0;
}

.mainheader nav {
	background-color: #37598B;
	height: 50px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.mainheader nav ul {
	list-style: none;
	margin: 0 auto;
}

.mainheader nav ul li {
	display: inline;
}


.mainheader nav a:link, .mainheader nav a:visited {
	color: #FFF;
	display: inline-block;
	padding: 25px 25px;
}

.mainheader nav a:hover, .mainheader nav a:active,
.mainheader nav .active a:link, .mainheader nav .active a:visited {
	background-color: #E3A2FF;
	text-shadow: none;
	
}

.mainheader nav ul li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainContent {
	margin-top: 50px;
	line-height: 25px;		 
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.content {
	width: 70%;	
	float: left; 
	margin-top: -50px;
}

.sidebarscontent {
	width: 29%;
	float: right;
 	margin-top: -34px;
}

.post-info {
	font-style: italic;
	color: #999;
	font-size: 85%;
}

.topcontent {
	background-color:  #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;			
	margin-top: 2%;
}


.bottomcontent {
	background-color:  #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;			
	margin-top: 2%;
}


.top-sidebar {	
	height: auto;
	background-color:  #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0% 0 2% 3%;
	padding: 2% 3%;
}


.middle-sidebar {
	background-color:  #FFF;	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0% 0 2% 3%;
	padding: 2% 3%;
}


.bottom-sidebar {
	background-color:  #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0% 0 2% 3%;
	padding: 2% 3%;

}


.mainFooter {
	width: 100%;
	height: 40px;
	float: left; 	
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
 	background-color:  #37598B;
 	margin: 2% 0;
}

.mainFooter p {
	width: 90%;
	color: #fff;
	margin: 10px auto;
}



@media only screen and ( min-width: 150px ) and ( max-width: 900px ) {

	.mainheader nav {
		height: 50px;
		margin-top: 2%;
}
	.mainheader nav ul li {
		margin-left: 50px;
		font-size: 80%;
	}

	.content {
		width: 100%;	
	}
	
	.mainheader img {
		width: 50%;
		margin-left: 170px;
	}
	
	.sidebarscontent {
		width: 100%;
		margin-top: 20px;
	}
	.top-sidebar, .middle-sidebar, .bottom-sidebar {
		float: left;
		width: 90%;
		margin: 10px 0px 0px 15px;
	}
}

@media only screen and ( min-width: 150px ) and ( max-width: 618px ) {

	.mainheader nav ul li {
		margin-left: 15px;
		font-size: 70%;
	}
	
	
}

@media only screen and ( min-width: 150px ) and ( max-width: 740px ) {

	.body {
		width: 90%;											
		font-size: 80%;
		background-color: #D8D8D8;
	}

	.mainheader img {
		width: 100%;
		margin-left: 0;
	}

	.mainheader nav {
		height: 140px;
		margin-top: 2%;
}

	.mainheader nav ul {
		padding-left: 15px; 	 
	}

	.mainheader nav ul li {
		width: 100%;
		text-align: center;
		margin-left: 10px;
	}

	.mainheader nav a:link, .mainheader nav a:visited {					
		display: block;	
		margin: 2px 50px 0px 20px;
		padding: 15px 25px;
	}	

	.content {
		width: 100%;	
		float: left; 
	}

	.post-info {
		display: none;								
	}


	.mainFooter {
		width: 100%;
		height: 40px;
		float: left; 	
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	 	background-color:  #37598B;
	 	margin: 2% 0;
	} 
	
}